{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm message-card-shell">
            <div class="card-header message-card-header">
                <h3 class="mb-0">Compose Message</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" class="message-form-shell">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}