{% extends 'base.html' %}
{% block content %}
<h2>Service Management</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Provider</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
        <tr>
            <td>{{ service.title }}</td>
            <td>{{ service.provider.email }}</td>
            <td>৳{{ service.price }}</td>
            <td>{{ service.is_active }}</td>
            <td><a href="{% url 'delete_service_admin' service.id %}" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}