{% extends 'base.html' %}

{% block content %}

<div class="content-shell">

    <div class="text-center mb-5">

        <h2 class="section-title mt-2">Contact Us</h2>

        <p class="section-subtitle mx-auto">
            If you have questions, feedback or support requests,
            feel free to reach out to the Skill Nest team.
        </p>

    </div>

    <div class="row g-4">

        <div class="col-md-4">

            <div class="stat-box text-center">

                <h5>Email</h5>

                <p class="mb-0">
                    support@skillnest.com
                </p>

            </div>

        </div>

        <div class="col-md-4">

            <div class="stat-box text-center">

                <h5>Phone</h5>

                <p class="mb-0">
                    +880 1700-000000
                </p>

            </div>

        </div>

        <div class="col-md-4">

            <div class="stat-box text-center">

                <h5>Office</h5>

                <p class="mb-0">
                    Dhaka, Bangladesh
                </p>

            </div>

        </div>

    </div>


    <div class="highlight-box mt-5">

        <h5>Office Hours</h5>

        <p class="mb-0">
            Saturday – Thursday: 9:00 AM – 6:00 PM <br>
            Address : 74/A Green Road,University Of Asia Pacific
        </p>

    </div>

</div>

{% endblock %}